rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /signups/{id} {
      // Created only via registerSignup Cloud Function (Admin SDK).
      allow create, read, update, delete: if false;
    }

    match /mail/{id} {
      allow read, write: if false;
    }

    match /siteConfig/{doc} {
      allow read, write: if false;
    }

    match /products/{id} {
      allow read: if resource.data.active == true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
